.header {
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-family: cursive;
}

* {
    margin: 5px;
    background: #39CCCC;
}

.formContainer {
    display: grid;
    justify-content: center;
}

.container .overlay {
    text-align: center;
    border: solid;
}

#form {
    display: none;
    flex-direction: column;
    padding: 20px;
    border: solid;
    background: #d9af64;
}

input {
    border-radius: 15px;
}

.add-book {
    margin-left:47%;
    margin-right:47%;
    position: relative;
    font-family: cursive;
    border-radius: 15px;
    font-size: 20px;
}

.book-card {
    display: none;
    flex-direction: column;
    margin-top: 20px;
    background: #d9af64;
    color: black;
    position: relative;
    margin-bottom: -1px;
    border: solid;
    width: 200px;
    border-radius: 5px;
}

.books-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.toggle-on {
    display: block;
}

hr {
    margin-left: 0px;
    margin-right: -1px;
    border-bottom: 1px solid black;
    width: 200px;
    margin-bottom: -1px;
}

