.header {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

* {
    margin: 5px;
}

.container {
    display: grid;
    justify-content: center;
}

.container .overlay {
    text-align: center;
    border: solid;
}

#form {
    display: none;
    flex-direction: column;
    padding: 20px;
    border: solid;
}

.add-book {
    margin-left:47.2%;
    margin-right:47%;
    position: relative;
}

.book-card {
    display: none;
    flex-direction: column;
    margin-top: 20px;
    background: blue;
    color: white;
    position: relative;
}

.books-wrapper {
    display: flex;
    flex-direction: column-reverse;
    background: blue;
}

.toggle-on {
    display: block;
}

hr {
    margin-left: -5px;
    margin-right: -5px;
    border-bottom: 10px solid white;
}

